{{define "bootstrap"}}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>LensLocked.com</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/boostrap.min.css">
  </head>
  <body>
    div<class="container-fluid">

  </body>
</html>
